<div class="about page container pb-5">
  <h1 class="py-5 text-center display-4">About</h1>
  <div class="card bg-light">
      <div class="card-body">
          <img class="rounded float-left mr-4" src="/assets/sacha.jpg" alt="Sacha at Home">
          <p>This site was created by <%= link_to "Team Sacha", "https://www.justgiving.com/team/team-sacha" %>.</p>
 
          <p>Sacha is aged 2 and has a rare genetic disorder called 2q37 deletion syndrome, which makes it likely that
          he will grow up with intellectual disabilities and physical difficulties.</p>
 
          <p>We are fundraising to pay for therapies which have been shown to improve the prognoses for children with 
          conditions like Sacha’s, but which the cash-strapped NHS is currently not in a position to offer.</p>
 
          <p>We were due to participate in the Hastings Half Marathon to raise money for Sacha, 
          but the event was cancelled two weeks before race day out of concern over the potential spread of COVID-19 
          at large-scale gatherings.</p>

          <p>Rather than let our fundraising and training efforts go to waste, we thought we would try to establish
          an alternative for those who have been unable to participate in events like ours.</p>
      </div>
  </div>
</div>
