<div class="home page container pb-5">
  <h1 class="py-5 text-center display-3">The Coronavirus Self-Isolation Half Marathon</h1>
  <div class="card bg-light">
      <div class="card-body">
          <p>The emergency measures are kicking in and the events we’ve been training for are getting cancelled. 
            Many of us are self-isolating or withdrawing from large-scale social events to help slow the spread 
            of COVID-19.</p>
          <p>All that preparation needn’t be wasted. Instead of withdrawing into inactivity, let’s pull our various 
          events together virtually.</p>
          <p>Each of us can run our own run, without the crowds. Find a reasonably secluded route and do the run 
          you would have done if COVID-19 hadn’t scuppered the plans.</p>
          <p>Register your event here and keep your own time. We’ll have a leaderboard for all the disparate runs 
          people are doing.</p>
          <p>You are welcome to register your own fundraising cause, but any contributions to 
          <%= link_to "https://www.justgiving.com/team/team-sacha" do %>
            the cause for which we're fundraising
          <% end %>
          are greatly appreciated.</p>
      </div>
  </div>
</div>
