<div class="safety page">
  <h1>Staying safe</h1>
  <p>It is your responsibility to follow the current advice for your situation wherever you are,
  but please just be sensible and stay safe.</p>
  <p>It is also your responsibility to judge your fitness to engage in whatever activity you are
  doing.</p>
  <p>It should go without saying that if you have actually been advised to personally self-isolate
  because you may have the coronavirus, you should not be out running.</p>
  <p>The sole idea of this website is to help bring together virtually those who are able to run 
  individually but have been unable to do so in organised group events.</p>
</div>
