<div class="safety page container pb-5">
  <h1 class="py-5 text-center display-4">Staying safe</h1>
  <div class="card bg-light">
    <div class="card-body">
      <p>At the time of writing, current UK government advice is that even those self-isolating may
      get out for exercise, though conditions and advice are changing rapidly.</p>
      <p>It is your responsibility to follow the current advice for your situation wherever you are,
      but please just be sensible and stay safe.</p>
      <p>It is also your responsibility to judge your fitness to engage in whatever activity you are
      doing.</p>
      <p>It should go without saying that if you have actually been advised to personally self-isolate
      because you may have the coronavirus, you should not be out running.</p>
      <p>The sole idea of this website is to help bring together virtually those who are able to run 
      individually but have been unable to do so in organised group events.</p>
    </div>
  </div>
</div>
