body {
    height: 100vh;
    font-size: 1.2rem !important;
    &.opt1 {
        background: url('http://dept2.co/img/deserted_track_country.jpg') center / cover repeat-y;
    }
    &.opt2 {
        background: url('http://dept2.co/img/lone_runner_blue.jpg') center / cover repeat-y;
        & h1, h2 {
            font-family: 'Faster One', sans-serif;
        }
    }
    &.opt3 {
        background: url('http://dept2.co/img/lone_runner_urban.jpg') center / cover repeat-y;
        & h1, h2 {
            font-family: 'Contrail One', sans-serif;
        }
    }
}
.page, .user {
    .bg-light {
        background-color: rgba(250,250,240,.8) !important;
    }
    h1, h2 {
        font-family: 'Shrikhand', sans-serif;
        color: var(--white);
        text-shadow:  6px 7px 6px rgba(0,0,0,.68);
    }
    h1.display-3 {
        text-shadow:  6px 7px 6px rgba(0,0,0,.68);
        @media (max-width: 767.98px) {
            font-size: 3.75rem;
        }
    }
}

